/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 10px 30px;
  border: solid 1px black;
  margin-top: 20px; 
}

label {
  width: 120px;
  display: inline-block;
  padding: 0 5px 0 0;
  text-align: right;
  font-size: 1.1em;
}
input {
  font-size: 1.1em;
  padding: 3px;
  border: 1px solid #999;
}

#map {
  border: 1px dashed #999;
}
/*
Pretty Table Styling
CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
*/
/* line 10, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
table {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fefefe;
  margin: 10px 0 0 0;
  /*  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  */
  box-shadow: 2px 2px 10px #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 25, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
th, td {
  padding: 8px 4px;
  text-align: center;
}

/* line 27, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
th {
  padding-top: 16px;
  text-shadow: 1px 1px 1px #fff;
  background: #e8eaeb;
}

/* line 29, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
td {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

/* line 31, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
tr.odd-row td {
  background: #f6f6f6;
}

/* line 33, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
td.first, th.first {
  text-align: center;
}

/* line 35, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
td.last {
  border-right: none;
}

/*
Background gradients are completely unnecessary but a neat effect.
*/
/* line 42, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
td {
  background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

/* line 47, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
tr.odd-row td {
  background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

/* line 52, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
th {
  background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

/*
I know this is annoying, but we need additional styling so webkit will 
 recognize rounded corners on background elements. Nice write up of this issue: 
 http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius
And, since we've applied the background colors to td/th element because of IE, 
 Gecko browsers also need it.
*/
/* line 65, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
tr:first-child th.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  /* Saf3-4 */
}

/* line 70, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
tr:first-child th.last {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  /* Saf3-4 */
}

/* line 75, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
tr:last-child td.first {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  /* Saf3-4 */
}

/* line 80, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
tr:last-child td.last {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /* Saf3-4 */
}

/* line 85, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
table.small_table {
  width: 100%;
}

/* line 88, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
table.small_table th {
  margin: 0;
  padding: 5px 0px;
  color: #666;
}

/* line 96, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
table.small_table td {
  margin: 0;
  padding: 7px 0px;
  color: #666;
}

/* line 102, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
.footer {
  color: #eee;
  text-align: center;
}

/* line 106, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/locations.css.scss */
.footer a {
  text-align: center;
  color: #eee;
}
/* line 1, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #4B7399;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 80%;
  line-height: 16px;
}

/* line 8, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 18px;
}

/* line 13, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 18, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
a img {
  border: none;
}

/* line 21, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 25, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 30, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 33, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
  border: 1px solid green;
  font-size: 1.2em;
  padding: 3px 6px;
}

/* line 40, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors label {
  color: red;
}

/* line 43, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors input {
  border-color: red;
}

/* line 46, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  display: inline;
}

/* line 49, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 56, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/fred/rails/google_places_autocomplete/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
