// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

form {
  margin: 0;
}
