<!DOCTYPE html>
<html>
<head>
  <title>GooglePlacesAutocomplete</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <%= yield %>
</div>

<div class="footer">
  <a href="https://github.com/fred/google_places_autocomplete" class="footer">
  Source at Github
  </a>
</div>
</body>
</html>
